@font-face {
    font-family: "Product Sans Regular";
    src: url("../../assets/fonts/Product-Sans-Regular.ttf") format("opentype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Product Sans Italic";
    src: url("../../assets/fonts/Product-Sans-Italic.ttf") format("opentype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Product Sans Bold";
    src: url("../../assets/fonts/Product-Sans-Bold.ttf") format("opentype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Product Sans Bold-Italic";
    src: url("../../assets/fonts/Product-Sans-Bold-Italic.ttf") format("opentype");
    font-weight: 600;
    font-style: normal;
}