$google-green: #34a853;
$google-yellow: #fbbc04;
$google-blue: #4285F4;
$google-red: #ea4335;
$google-black: #000000;
$google-grey: #3c4043;
$google-grey-500: #9aa0a6;
$google-white: #ffffff;

$button-grey: #202124;
$signin-blue: #0066ff;
$gray: #dcdcdc;
$gray3: #f5f5f5;

$gemini-blue: #4a68b5;
$gemini-purple: #a67bba;
$gemini-pink: #c9717b;