$google-green: #34a853;
$google-yellow: #fbbc05;
$google-blue: #4285F4;
$google-red: #ea4335;

$blue: #4885ed;
$gray: #dcdcdc;
$gray2: #c8c8c8;
$gray3: #f5f5f5;
$gray4: #808080;

$gemini-blue: #2d59c7;
$gemini-purple: #a570bd;
$gemini-pink: #d66674;