@use "../../styles/partials/resets" as *;
@use "../../styles/partials/global" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;

p {
    font-family: 'Product Sans';
    font-weight: 600;
    font-style: italic;
}