@use "../../styles/partials/resets" as *;
@use "../../styles/partials/global" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;

.container {
    width: 100vw;
    height: 110vh;
    background-repeat: no-repeat;
    background-color: $google-white;
    background-image: url('src/assets/images/AI_Overview.svg');
}

.more-info {
    color: #65558F;
    background-color: transparent;
    color: rgba(60, 64, 67, 0);
    font-family: "Google Sans Regular";
    line-height: 10px;
    position: relative;
    top: 290px;
    left: 969px;
    font-size: 14px;
    font-weight: 600;
}